.cat {
  display: flex;
  flex-direction: column;
  position: relative;
  width: calc((100% / 3) - 20px);
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 23px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: $color-concrete;
  overflow: hidden;

  @include mobile-l {
    width: calc((100% / 2) - 20px);
  }

  @include mobile {
    width: 100%;
  }
}

.cat__sale {
  display: block;
  position: absolute;
  top: 6.5%;
  left: 10%;
  border-radius: 10px;
  padding: 10px 18px;
  color: $color-white;
  background-color: $color-red;

  @include tablet {
    top: 4%;
    left: 6%;
    font-size: 14px;
    padding: 7px 12px;
  }
}

.cat__img {
  object-fit: cover;
}

.cat__favorite-btn {
  display: block;
  position: absolute;
  top: 7%;
  right: 8.5%;
  margin: 0;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: transparent;

  &--added .cat__favorite-icon {
    fill-opacity: 1;
  }

  @include tablet {
    top: 4%;
    right: 6%;
  }
}

.cat__favorite-icon {
  transition: 0.2s linear;
}

.cat__favorite-promt {
  width: 120px;
  position: absolute;
  right: 0;
  bottom: -30px;
  border-radius: 10px;
  padding: 5px;
  font-size: 12px;
  font-weight: 700;
  color: $color-white;
  background-color: $color-aquamarine-blue;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.cat__inner {
  display: flex;
  flex-direction: column;
  padding: 30px 7.37%;
}

.cat__title {
  font-size: 24px;
}

.cat__features {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  position: relative;
  margin-top: 24px;
  margin-left: 22px;
  font-size: 12px;

  &::before {
    content: "";
    width: 4px;
    height: 65%;
    position: absolute;
    left: -22px;
    top: 0;
    background-color: $color-aquamarine-blue;
  }
}

.cat__features-inner {
  display: flex;
  flex-direction: column-reverse;
  width: calc((100% - 30px) / 3);
  margin-right: 15px;
  margin-bottom: 10px;

  &:nth-child(3n) {
    margin-right: 0;
  }

  @include tablet {
    &:first-child {
      width: 100%;
    }

    &:not(:first-child) {
      width: calc((100% - 15px) / 2);
    }

    &:nth-child(n+3):nth-child(odd) {
      margin-right: 0;
    }
  }
}

.cat__term {
  margin-top: 2px;
}

.cat__description {
  &--big {
    font-size: 16px;
    font-weight: 700;
  }
}

.cat__price {
  margin-top: 11px;
  font-size: 24px;
  font-weight: 700;
}

.cat__buy-link {
  display: block;
  text-align: center;
  width: 100%;
  padding: 24px 55px;
  color: $color-white;
  background-color: $color-aquamarine-blue;
  font-size: 16px;
  font-weight: 700;
  transition: background-color 0.3s linear;

  &:hover {
    background-color: $color-blue-mine;
  }

  &:active {
    opacity: 0.5;
  }

  &--disabled {
    background-color: $color-black;

    &:hover {
      background-color: $color-black;
    }

    &:active {
      opacity: 1;
    }
  }
}
