// Colors
$color-black: #000000;
$color-white: #ffffff;
$color-concrete: #f3f3f3;
$color-silver: #cacaca;
$color-aquamarine-blue: #6ebbd3;
$color-blue-mine: #1e596b;
$color-night-rider: #140f0c;
$color-zeus: #2e261d;
$color-red: #e52d2d;

// Fonts
$main-font: "Montserrat", "Arial", sans-serif;
